<ul>
    <li ng-repeat="note in notes">
        <a href="javascript:void(0)">
            <p>{{ note.NoteContent }}</p>
            <div class="controls">
                <span ng-click="displayNotice()" clip-copy="note.NoteContent">
                    <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                </span>
                &nbsp;
                <span ng-click="removeNote(note.NoteId)">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </span>
            </div>
        </a>
    </li>
</ul>
<div style="position: fixed; bottom: 10px; right: 10px">
    <a href="javascript:void(0)" ng-click="markStickyAsDefault()"><span class="glyphicon glyphicon-flag"></span> Set as Default</a>
</div>
