<ul>
    <li ng-repeat="note in notes">
        <a href="javascript:void(0)">
            <p id="{{ note.IdStr }}">{{ note.NoteContent }}</p>
            <div class="controls">
                <span ng-hide="isFlashAvailable()" ng-click="selectNote($event)">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </span>
                &nbsp;
                <span ng-show="isFlashAvailable()" ng-click="displayNotice()" clip-copy="note.NoteContent">
                    <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                </span>
                &nbsp;
                <span ng-click="removeNote(note.NoteId)">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </span>
            </div>
        </a>
    </li>
</ul>
<div class="additional-options" ng-show="showAdditionalOptions()">
    <a href="javascript:void(0)" ng-click="markStickyAsDefault()"><span class="glyphicon glyphicon-flag"></span> Set as Default</a> 
    <span class="seperator">/</span>
    <a href="javascript:void(0)" ng-click="clearDefault()"><span class="glyphicon glyphicon-remove"></span> Clear Default</a>
</div>
