@{
    ViewBag.Title = "quick notes :: home";
}

<style type="text/css">
    .open-banner {
        position: absolute; top: 503px; right: 10px; cursor: pointer
    }

    .closed-banner {
        position: absolute; top: 3px; right: 10px; cursor: pointer
    }
</style>

<div ng-app="MainModule" ng-controller="NotesController">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <img src="@Url.Content("~/Content/images/carousel/img_1.jpg")" alt="First slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Add a note!</h1>
                        <p><input type="text" class="form-control" placeholder="Your note..." ng-model="note"/></p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button" ng-click="addNote()">Add Note</a></p>
                        <p style="font-size: small" ng-show="noteAdded">Note Added!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br class="space" style="display: none"/><br class="space" style="display: none"/><br class="space" style="display: none"/>
    <div class="container">
        <div class="pull-right">
            <span id="banner" class="open-banner glyphicon glyphicon-export" title="open/close banner"></span>
        </div>
        <div>
            <div ng-repeat="note in notes">
                <div class="q-note" id="{{ note.IdStr }}">
                    {{ note.NoteContent }}
                </div>
                <div class="q-options">
                    <span class="q-option q-select" ng-click="selectNote($event)">select</span>
                    &nbsp;&nbsp;&nbsp;
                    <span class="q-option">delete</span>
                </div>
                <br/><br/><br/>
            </div>
        </div>
    </div>
</div>

<script>
    var root = '@Url.Content("~/")';

    var mainModule = angular.module("MainModule", []);

    mainModule.controller("NotesController", function($scope, $http, $timeout) {
        $scope.note = "";
        $scope.notes = [];

        $scope.noteAdded = false;

        $scope.addNote = function() {
            $http({
                method: 'get',
                url: root + 'api/list/addnote?noteContent=' + $scope.note
            }).success(function(data) {
                $scope.noteAdded = true;
                $scope.getNotes();
                $timeout(function() {
                    $scope.noteAdded = false;
                }, 2000);
            }).error(function(data) {
                
            });
        };

        $scope.getNotes = function() {
            $http.get(root + 'api/list/getnotes').success(function (data, status, headers, config) {
                $scope.notes = data;
            }).error(function (data, status, headers, config) {

            });
        };

        $scope.getNotes();

        $scope.selectNote = function (event) {
            selectNote(event.target);
        };
    });
</script>

@section scripts
{
    <script>
        function SelectText(element) {
            var doc = document, text = doc.getElementById(element), range, selection;
            if (doc.body.createTextRange) {
                range = document.body.createTextRange();
                range.moveToElementText(text);
                range.select();
            } else if (window.getSelection) {
                selection = window.getSelection();
                range = document.createRange();
                range.selectNodeContents(text);
                selection.removeAllRanges();
                selection.addRange(range);
            }
        }

        function selectNote(element) {
            var note = $(element).parent().prev();
            SelectText($(note).prop('id'));
        }
        
        $(function() {
            $('#banner').on('click', function () {
                $('#banner').hide();
                if ($('#banner').hasClass('closed-banner')) {
                    $('.space').hide();
                }
                $("#myCarousel").animate({
                        height: "toggle"
                }, 1000, function () {                    
                    if ($('#banner').hasClass('open-banner')) {
                        $('#banner').removeClass('open-banner glyphicon-export').addClass('closed-banner glyphicon-import').show();
                        $('.space').show();
                    } else {
                        $('#banner').removeClass('closed-banner glyphicon-import').addClass('open-banner glyphicon-export').show();                        
                    }
                });
            });
        });
    </script>
}
