@{
    ViewBag.Title = "quick notes :: home";
}

@section coreScripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/notes-core-mashed.js")"></script>
}

<br/>

<link href="http://fonts.googleapis.com/css?family=Reenie+Beanie:regular" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="@Url.Content("~/Content/sticky.css")"/>
<style type="text/css">
    .information {
        position: absolute;
        left: 50%;
        top: 5%;
        color: white;
        font-weight: bold;
        padding: 10px;
        border: 1px solid #8A0829;
        z-index: 999
    }
</style>

<div class="container">

    <div ng-app="MainModule" ng-controller="SettingsController">
        <div ng-controller="NotesController">
            <div class="header">
                <div class="pull-left">
                    Your Notes
                </div>
                <div class="pull-right">
                    <a href="#sticky">sticky</a> | <a href="#/">plain</a>
                </div>
            </div>
            <br/><br/>
            <hr/>
            <div class="text-center loader" ng-show="busy">
                <img src="@Url.Content("~/Content/images/loader.gif")" alt=""/>&nbsp;getting the notes...
            </div>

            <div ng-view></div>

            <div ng-show="copy_status" class="information">
                copied!
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/notes-misc.js")"></script>
}
