@{
    ViewBag.Title = "quick notes :: home";
}

@section coreScripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/notes-core.js")"></script>
}

<br/>
<div class="header">Your notes!</div>

<link href="http://fonts.googleapis.com/css?family=Reenie+Beanie:regular" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="@Url.Content("~/Content/sticky.css")"/>

<div ng-app="MainModule" ng-controller="NotesController">
    <div class="text-center loader" ng-show="busy">
        <img src="@Url.Content("~/Content/images/loader.gif")" alt=""/>&nbsp;getting the notes...
    </div>

    <ul>
        <li class="note" ng-repeat="note in notes">
            <a href="#">
                <p>{{ note.NoteContent }}</p>
                <div class="controls">
                    <span ng-click="displayNotice()" clip-copy="note.NoteContent">
                        <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                    </span>
                    &nbsp;
                    <span ng-click="removeNote(note.NoteId)">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </span>
                </div>
            </a>
        </li>
    </ul>

    <div ng-show="copy_status" class="information">
        copied!
    </div>
</div>
